
.products{
    background-color: #DEF6FF;
    width: 298px;
    height: 484px;
    border: 1px solid #95A0A7;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
   
    
    
}
.products img {
    width: 250px;
    height: 250px;
    margin: 7px;
    border-radius: 20px;
    border: none;
    
}
.products-name{
    font-family: 'lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}
.button-cart{
    width: 100%;
    background: #B3FFFB;
    border-radius: 0 0 10px 10px;
    
    
    
    
}
.button-cart:hover{
    background-color: #71E9FF;
}