.cart-container{
  
   display: grid;
   grid-template-columns: 4fr 1fr;
}
.product-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap:  45px;
}

.btn{
   padding: 10px;
   width: 50%;
   background: #B3FFFB;
   border-radius: 8px;
   border:1px solid #36c5db;
   margin: 5px;
 
}
.btn:hover{
   background-color: #71E9FF;
}
.name{
   color: rgb(111, 182, 226);
   margin-bottom: 0;
}
.name:hover{
   color: rgb(9, 99, 155);
  cursor: pointer;
}
.text{
   color: rgb(18, 116, 83);
   margin-top: 0;
   font-size: 25px;
}
.select{
   color:rgb(177, 75, 177);
   
}

@media screen and (max-width:500px) {
   .product-container{
       grid-template-columns: repeat(1, 1fr);
       text-align: center;
   }
   .order-summary{
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
   }
   .cart-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
   }
}